* {
    font-family: 'Fira Code', FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    border: none;
    border-radius: 0;
}


#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused, #workspaces button.active {
    box-shadow: inset 0 1px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#cpu,
#disk,
#temperature,
#backlight,
#network,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#bluetooth,
#power-profiles-daemon,
#mpd {
    padding: 0 6px;
    color: #ffffff;
}

#battery {
    padding: 0 8px;
}

#pulseaudio,
#privacy,
#memory {
    padding: 0 4px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

